.App {
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  justify-content: center;  
  max-width: 70%;  
}
.App-header {
  background-color: #ed6c02;
  border: 0px solid #000000;
  border-radius: 7px 7px 0px 0px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
  color: #FFFFFF;
}
.head-left, .head-right{  
  padding: 12px;
  margin-left: 20px;
  margin-right: 40px;
  border: 0px solid #FF0000;
  display: flex;
  align-items: center;  
}
.head-left{
  display: flex;
  text-align: left;
}
.head-right{
  display: flex;
  text-align: right;
  justify-content: center;
}

.container{
  background-color: #CCCCCC;
  border: 0px solid #000000;
  color: #000000;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.add-box{
  margin-top: 12px;
  background-color: #EDEDE1;
  border: 3px solid #d32f2f;
  border-radius: 7px 7px 7px 7px;
  width: 100%
}

.form-box{
  border: 0px solid #FF0000;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.over-box{
  border: 0px solid #FF0000;
  width: 96%;
  margin-bottom: 12px;
}

.box-in-box{
  border: 0px solid #C70808;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.search{
  margin-bottom: 12px;
  width: 100%;
}

.new-task-btn{
  margin-bottom: 12px;
}

.task-box, .form-box{
  background-color: #F6F4E9;
  border: 0px solid #FF0000;
  margin-bottom: 6px;
  margin-top: 6px;
  width:96%;
  padding: 12px;
  display:inline-block;
  min-height: 24vh;
}

.new-box{
  background-color: #EEE9DE;
}

.box-top, .box-bottom, .tasklist-btn, .box-btn{
  border: 0px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 12px;
}

.box-top, .box-bottom{
  padding-left: 24px;
}

.tasklist-btn{
  padding-left: 12px;
  padding-right: 18px;
  min-height: 21vh;
  display: flex;
  align-items: space-between;
  flex-direction: column;

}

.task-edit-btn{
  margin-bottom: 12px;
}

.task-remove-btn{
  margin-bottom: 12px;
}

.App-footer{
  background-color: #000000;
  border: 0px solid #000000;
  color: #AAAAAA;
  min-height: 5vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  border-radius: 0px 0px 7px 7px;
}

.footer-info{
  display:flex;
  align-items: flex-end;
  padding: 10px;
  font-size: 0.7em;
}